
<h1 class="mbr-section-title mbr-bold mbr-fonts-style align-center display-1" style="text-align: center;">
  Online Shopping
  </h1>

<div class="parallax texture">
<p style="text-align: center;">
  <img src="assets/images (2).jpg" width=80% height=30 class="img-fluid" source="align-center" alt="Responsive image">
</p>
<div class="container-fluid">

<div class="row justify-content-center" style="text-align: center;">
    <!-- <div class="mbr-white col-md-12 col-lg-10">
      <span class="animated-element mbr-bold" data-word2="Jeans" data-word1="Outerwear" data-word3="Shoes" data-word4="Sweatshirts" data-word5="Accessories" data-speed="16" data-words="3">Jeans</span><span class="typed-cursor"></span>
        </div> -->
        <!-- <p class="mbr-section-text mbr-fonts-style align-center display-5">
            Save over 25% on the purchase of new collection.

 </p> -->
        <div class="pt-3 mbr-section-btn align-center" style="text-align: center;">
         <h5>click here to shop your favourite cloths</h5>
          <a class="button btn btn-warning display-4  " [routerLink]="['/products']" routerLinkActive="router-link-active"  type="submit">SHOP NOW
      </a>
        </div>

    </div>
</div>

</div>
<br>
<br>


<div class="parallax texture">
  <p style="text-align: center;">
    <img src="assets/images.jpg" width=80% height=30 class="img-fluid" source="align-center" alt="Responsive image">
    <br>

     <a class="button btn btn-info display-4 " [routerLink]="['/watch']" routerLinkActive="router-link-active"  type="submit">SHOP NOW
    </a>

  </p>
  <br>
  <br>

  <div class="parallax texture">
      <p style="text-align: center;">
        <img src="assets/download.jpg" width=80% height=30 class="img-fluid" source="align-center" alt="Responsive image">
      </p>

      <div class="parallax texture">
          <p style="text-align: center;">
            <img src="assets/images (1).jpg"width=80% height=30 class="img-fluid" source="align-center" alt="Responsive image">
          </p>

          <div class="parallax texture">
            <p style="text-align: center;">
              <img src="assets/download (1).jpg" width=80% height=30 class="img-fluid" source="align-center" alt="Responsive image">
            </p>
<
